Repository My-riad/jit-tdexn2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @backend-leads, @backend-team, @ai-team, @database-team, @frontend-leads, @mobile-team, @frontend-team, @technical-writers

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in the repo
* @project-leads

# CI/CD Workflows
.github/workflows/* @devops-team

# Backend Code
src/backend/common/**/* @backend-leads
src/backend/*-service/**/* @backend-team
src/backend/optimization-engine/**/* @ai-team @backend-leads
src/backend/database/**/* @database-team @backend-leads

# Frontend Code
src/web/common/**/* @frontend-leads
src/web/shared/**/* @frontend-leads
src/web/driver-app/**/* @mobile-team @frontend-leads
src/web/carrier-portal/**/* @frontend-team
src/web/shipper-portal/**/* @frontend-team

# Infrastructure
infrastructure/**/* @devops-team

# Documentation
docs/**/* @project-leads @technical-writers

Add public-samples/jit-tdexn2/src/backend/optimization-engine/src/services/prediction.service.ts
  src/backend/optimization-engine/src/services/prediction.service.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/src/services/relay.service.ts
  src/backend/optimization-engine/src/services/relay.service.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/src/services/smart-hub.service.ts
  src/backend/optimization-engine/src/services/smart-hub.service.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/src/utils/geo-optimization.ts
  src/backend/optimization-engine/src/utils/geo-optimization.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/tests/integration/optimization-api.test.ts
  src/backend/optimization-engine/tests/integration/optimization-api.test.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/tests/unit/optimization.service.test.ts
  src/backend/optimization-engine/tests/unit/optimization.service.test.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/optimization-engine/tests/unit/algorithms/network-optimizer.test.ts
  src/backend/optimization-engine/tests/unit/algorithms/network-optimizer.test.ts
Owners: @ai-team, @backend-leads

Add public-samples/jit-tdexn2/src/backend/tracking-service/Dockerfile
  src/backend/tracking-service/Dockerfile
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/package.json
  src/backend/tracking-service/package.json
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/tsconfig.json
  src/backend/tracking-service/tsconfig.json
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/app.ts
  src/backend/tracking-service/src/app.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/index.ts
  src/backend/tracking-service/src/index.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/algorithms/eta-calculator.ts
  src/backend/tracking-service/src/algorithms/eta-calculator.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/algorithms/geofence-detector.ts
  src/backend/tracking-service/src/algorithms/geofence-detector.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/config/index.ts
  src/backend/tracking-service/src/config/index.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/consumers/eld-position.consumer.ts
  src/backend/tracking-service/src/consumers/eld-position.consumer.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/consumers/mobile-position.consumer.ts
  src/backend/tracking-service/src/consumers/mobile-position.consumer.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/controllers/eta.controller.ts
  src/backend/tracking-service/src/controllers/eta.controller.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/controllers/geofence.controller.ts
  src/backend/tracking-service/src/controllers/geofence.controller.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/controllers/history.controller.ts
  src/backend/tracking-service/src/controllers/history.controller.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/controllers/position.controller.ts
  src/backend/tracking-service/src/controllers/position.controller.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/models/geofence-event.model.ts
  src/backend/tracking-service/src/models/geofence-event.model.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/models/geofence.model.ts
  src/backend/tracking-service/src/models/geofence.model.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/models/historical-position.model.ts
  src/backend/tracking-service/src/models/historical-position.model.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/models/position.model.ts
  src/backend/tracking-service/src/models/position.model.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/producers/geofence-events.producer.ts
  src/backend/tracking-service/src/producers/geofence-events.producer.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/producers/position-events.producer.ts
  src/backend/tracking-service/src/producers/position-events.producer.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/routes/eta.routes.ts
  src/backend/tracking-service/src/routes/eta.routes.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/routes/geofence.routes.ts
  src/backend/tracking-service/src/routes/geofence.routes.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/routes/history.routes.ts
  src/backend/tracking-service/src/routes/history.routes.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/routes/position.routes.ts
  src/backend/tracking-service/src/routes/position.routes.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/services/eta.service.ts
  src/backend/tracking-service/src/services/eta.service.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/services/geofence.service.ts
  src/backend/tracking-service/src/services/geofence.service.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/services/position.service.ts
  src/backend/tracking-service/src/services/position.service.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/src/websocket/position-socket.ts
  src/backend/tracking-service/src/websocket/position-socket.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/tests/integration/tracking-api.test.ts
  src/backend/tracking-service/tests/integration/tracking-api.test.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/backend/tracking-service/tests/unit/position.service.test.ts
  src/backend/tracking-service/tests/unit/position.service.test.ts
Owners: @backend-team

Add public-samples/jit-tdexn2/src/web/.env.example
  src/web/.env.example
Owners: @project-leads

Add public-samples/jit-tdexn2/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @project-leads

Add public-samples/jit-tdexn2/src/web/.gitignore
  src/web/.gitignore
Owners: @project-leads
